extends layout
block searchResults
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
    
    div
        table.table
            thead
                th(scope='col') Website
                th(scope='col') Country Rank
                th(scope='col') Child Safety
                th(scope='col') Trustworthiness
                th(scope='col') Average Daily Page Views
                th(scope='col') Privacy
            tbody
                each website,index in websites
                    tr(id=website._id)
                        td(name=website._id)=website.Website 
                        td(name=website._id)=website.Country_Rank 
                        td(name=website._id)=website.Child_Safety
                        td(name=website._id)=website.Trustworthiness
                        td(name=website._id)=website.Avg_Daily_Pageviews
                        td(name=website._id)=website.Privacy

    script(src='/scripts/websites.js')