extends layout
block websites
    link(href='/styles/styles.css', rel='stylesheet')
    //- link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')

    div
       form(action='/searchFromDB',method='get')
            input#websiteName(type='text', name='websiteName' placeholder='Search for a website')
            button.search()
                i.fa.fa-search
                    input#searchInDB(type='submit' value=" Search ")

        table.table.table-hover
            thead
                tr  
                    td='Website'
                    td='Country Rank'
                    td='Child Safety'
                    td='Trustworthiness'
                    td='Average Daily Page Views'
                    td='Privacy'
                    td='Actions'
            tbody
                each website,index in websites
                    tr(id=website._id)
                        td.table-active(name=website._id,id="Website"+website._id, contentEditable=true)=website.Website 
                        td(name=website._id, contentEditable=true)=website.Country_Rank 
                        td(name=website._id, contentEditable=true)=website.Child_Safety
                        td(name=website._id, contentEditable=true)=website.Trustworthiness
                        td(name=website._id, contentEditable=true)=website.Avg_Daily_Pageviews
                        td(name=website._id, contentEditable=true)=website.Privacy
                        td 
                            div
                                button.deleteButton
                                    i.fa.fa-trash  Delete
                                button.editButton
                                    i.fa.fa-pencil-square-o  Edit
        button.addButton(onclick="onInsert()")
            i.fa.fa-plus  Add new row

    script(src='/scripts/websites.js')