extends layout
block websites
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    div
       form(action='/searchFromDB',method='get')
            div#searchDiv
                input#websiteName(name='websiteName', type='text', placeholder='Search for a website')
                button.search
                    i.fa.fa-search

        table.table.table-hover
            thead
                tr#columnHeading  
                    td='Website'
                    td='Country Rank'
                    td='Child Safety'
                    td='Trustworthiness'
                    td='Average Daily Page Views'
                    td='Privacy'
                    td='Actions'
            tbody
                each website,index in websites
                    tr(id=website._id)
                        td.tableContent(id="Website"+website._id, name=website._id, contentEditable=false)=website.Website 
                        td.tableContent(name=website._id, contentEditable=true)=website.Country_Rank 
                        td.tableContent(name=website._id, contentEditable=true)=website.Child_Safety
                        td.tableContent(name=website._id, contentEditable=true)=website.Trustworthiness
                        td.tableContent(name=website._id, contentEditable=true)=website.Avg_Daily_Pageviews
                        td.tableContent(name=website._id, contentEditable=true)=website.Privacy
                        td 
                            div
                                button.showButton
                                    i.fa.fa-eye 
                                    span#showText Show
                                button.editButton
                                    i.fa.fa-pencil-square-o   
                                    span#editText Edit
                                button.deleteButton
                                    i.fa.fa-trash
                                    span#deleteText Destroy
        button.addButton(onclick="add_website()")
            i.fa.fa-plus  
            span#addText Add new row
    script(src='/scripts/websites.js')
    script(src='/scripts/bootstrap_popup.js')
    script(src='/scripts/modal_load.js')
